apiVersion: apps/v1
kind: Deployment
metadata:
  name: result-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: result-app
  template:
    metadata:
      labels:
        app: result-app
    spec:
      initContainers:
      - name: wait-for-postgres
        image: busybox:1.36
        command:
          - sh
          - -c
          - |
            echo "Waiting for postgres..."
            until nc -z postgres.default.svc.cluster.local 5432; do
              sleep 2
            done
            echo "Postgres is ready!"


      containers:
      - name: result-app
        image: chandrakanthreddy1/result-app:1.0
        imagePullPolicy: IfNotPresent

        ports:
        - containerPort: 5001

        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: db-secret

        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "250m"
            memory: "256Mi"