---
- name: Restart containerd and kubelet, stop firewalld on all nodes
  hosts: all_nodes
  become: yes
  serial: 1
  tasks:
    - name: Stop firewalld
      ansible.builtin.systemd:
        name: firewalld
        state: stopped

    - name: Restart containerd
      ansible.builtin.systemd:
        name: containerd
        state: restarted

    - name: Restart kubelet
      ansible.builtin.systemd:
        name: kubelet
        state: restarted